In [1]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [3]:
x = np.ones(4)
x

array([1., 1., 1., 1.])

## Q#2: Create y array with elements equal to 0.

In [7]:
y = np.zeros(4)
y

array([0., 0., 0., 0.])

## Q#3: Add x and y arrays.

In [8]:
np.add(x, y)

array([1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [12]:
print(x.ndim)
print(x.shape)
print(x.size)
print(type(x))

1
(4,)
4
<class 'numpy.ndarray'>

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [33]:
w = np.array([[11,12],[13,14],[15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

In [34]:
w.shape

(3, 2)

## Q#6: Create z array contains the numbers from 1 to 3.

In [35]:
z = np.arange(1, 4)
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [39]:
w.reshape(2, 3)

array([[11, 12, 13],
       [14, 15, 16]])

In [44]:
newArray = np.row_stack((w, z))
newArray

array([[11, 12, 13],
       [14, 15, 16],
       [ 1,  2,  3]])

## Q#8: Print all elements of "newArray" using the loop.

In [45]:
for i in newArray:
    for j in i:
        print(j)

11
12
13
14
15
16
1
2
3

## Q#9: Reverse the columns and rows of "newArray".

In [46]:
newArray.transpose()

array([[11, 14,  1],
       [12, 15,  2],
       [13, 16,  3]])

## Q#10: Decrement all elements of "newArray" with 1.

In [47]:
def f(x):
    return x-1
newArray =f(newArray)
newArray

array([[10, 11, 12],
       [13, 14, 15],
       [ 0,  1,  2]])

## Q#11: Find smallest and biggest values in "newArray".

In [49]:
print(newArray.max())
print(newArray.min())

15
0

## Q#12: Print the first row of "newArray" using indexing.

In [51]:
newArray[:1]

array([[10, 11, 12]])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [53]:
newArray[ newArray == 12]

array([12])

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [58]:
newArray[(newArray == 0) | (newArray == 13)]

array([13,  0])

## Q#15: Change the shape of "newArray" to (9,1).

In [59]:
newArray.reshape(9, 1)

array([[10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [ 0],
       [ 1],
       [ 2]])

## Q#16: Change the shape of "newArray" to (3,2).

In [66]:
np.resize(newArray,(3,2))

array([[10, 11],
       [12, 13],
       [14, 15]])

# Well Done 🎉